<form method="post" action="#/authenticate/dologin" onsubmit="event.preventDefault();">
	<table class="table border" style="width:275px;margin:0 auto;margin-top: 50px">
		<tr>
			<th class="caption">LOGIN</th>
		</tr>
		<tr>
			<td class="no-padding" style="padding-left:5px !important;">
				<div class="input-control modern text iconic no-margin-top">
					<input type="text" name="username" value="">
					<span class="informer">Please enter your username</span>
					<span class="placeholder">Username</span>
					<span class="icon mif-user"></span>
				</div>
			</td>
		</tr>
		<tr>
			<td class="no-padding" style="padding-left:5px !important;">
				<div class="input-control modern text iconic no-margin-top">
					<input type="password" name="password" value="">
					<span class="informer">Please enter your password</span>
					<span class="placeholder">Password</span>
					<span class="icon mif-lock"></span>
				</div>
			</td>
		</tr>
		<tr>
			<td align="center">
				<input type="submit" class="submit" value="Login">
			</td>
		</tr>
	</table>
</form>	